/*  Fonts  */

@font-face {
    font-family: 'opensans-regular';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans-regular.svg#opensans-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-bold';
    src: url('../fonts/opensans-bold.eot');
    src: url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold.woff') format('woff'),
         url('../fonts/opensans-bold.ttf') format('truetype'),
         url('../fonts/opensans-bold.svg#opensans-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-semibold';
    src: url('../fonts/opensans-semibold.eot');
    src: url('../fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold.woff') format('woff'),
         url('../fonts/opensans-semibold.ttf') format('truetype'),
         url('../fonts/opensans-semibold.svg#opensans-semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'honeyscript-semibold';
    src: url('../fonts/honeyscript-semibold.eot');
    src: url('../fonts/honeyscript-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/honeyscript-semibold.woff') format('woff'),
         url('../fonts/honeyscript-semibold.ttf') format('truetype'),
         url('../fonts/honeyscript-semibold.svg#honeyscript-semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {

	 font-family: 'Love Story Rough';
	 src: url('../fonts/Love Story Rough.ttf'),format('truetype');
	 font-weight: normal;
     font-style: normal;
}

@font-face {

	 font-family: 'Raslani Undaground';
	 src: url('../fonts/Raslani Undaground.ttf'),format('truetype');
	 font-weight: normal;
     font-style: normal;
}


@font-face {

	 font-family: 'Over';
	 src: url('../fonts/Over.ttf'),format('truetype');
	 font-weight: normal;
     font-style: normal;
}


/*  General CSS*/

body{
    background: #fff;
}

.wrapper{
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

h1, h2, h3, h4, h5 ,h6{
    color: #626262;
    font-family: "honeyscript-semibold", arial;
    letter-spacing: 1px;
}

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}





/*  header  */
header{
    width: 100%;
    height: 100px;
    display: block;
    overflow: hidden;
}
header .header_logo{
    margin-top: 40px;
    float: left;
}



header.header_fixed{
    position: fixed;
    top: 0;
    left: 0;
}

header.header_fixed{
    background: #3e3d3d;
    z-index: 9999;
    margin-top: -100px;
}


header.header_fixed nav ul li a,
.billboard header nav ul li a{
    font-family: "Raslani Undaground", arial;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: .5px;
}


/*menu*/
#menu li {
	display:inline-block;
	margin: 20px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
    border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	margin: 5px;
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0%;
	left:0;
	height: 80px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
	background: #6495ed;

}
/*#menus{
	width: 100px;
    height: 100px;
    background: red;
    -webkit-transition: width 2s;
    transition: width 2s;
}

#menus:hover {
    width: 100%;
}*/

#infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding: 0 40px;
}
#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}
/*end of menu*/


/*  billboard  */
.billboard{
    width: 100%;
    height: 680px;
    background: url('../images/billboard.jpg') no-repeat;
    background-position: cover;
    -webkit-background-position: cover;
    -moz-background-position: cover;
    -o-background-position: cover;
    overflow: hidden;
    position: relative;
    z-index: 5555;
}

.billboard .caption h2{
    color: #525252;
    font-family: "Raslani Undaground", arial;
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    margin-top: 200px;
}


/*  services  */
.Introduction{
    width: 100%;
    overflow: hidden;
    padding: 140px 0;
    text-align: center;
}


.Introduction article p.service_desc{
    color: #797878;
    font-family: "honeyscript-semibold", arial;
    font-size: 14px;
    line-height: 24px;
    text-align: justify-all;
}


/*  about & timeline  */
.Profile{
    width: 100%;
    padding: 140px 0 0 0;
    background: #fafafa;
    text-align: center;
}

.Profile .Profile_txt{
    width: 70%;
    color: #797979;
    font-family: "Overheader_logo-semibold", arial;
    font-size: 16px;
    margin: 60px auto;
    line-height: 30px;
}

.Profile .timeline hr{
    display: block;
    width: 30px;
    height: 2px;
    background: #2f4f4f;
    margin: 0 auto;
    border: 0;
}

.Profile .timeline .column{
    width: 100%;
    overflow: hidden;
    text-align: left;
}

.Profile .timeline .left_row{
    width: 488px;
    border-right: 2px solid #2f4f4f;
    float: left;
    padding: 60px 30px 0 30px;
    position: relative;
}

.Profile .timeline .right_row{
    width: 490px;
    float: right;
    padding: 60px 30px 0 30px;
    border-left: 2px solid #2f4f4f;
    position: relative;
}

.Profile .timeline .right_row h2,
.Profile .timeline .left_row h2{
    color: #535353;
    font-family: "Overheader_logo-semibold", arial;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    line-height: 24px;
    letter-spacing: .5px;
}

.Profile .timeline .right_row p,
.Profile .timeline .left_row p{
    color: #797979;
    font-family: "opensans-semibold", arial;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .5px;
}

.Profile .timeline .right_row.first,
.Profile .timeline .left_row.first{
    padding-top: 100px;
}

.Profile .timeline .right_row.last,
.Profile .timeline .left_row.last{
    padding-bottom: 140px;
}


.Profile .timeline .right_row .bullet_point{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 60px;
    margin-left: -12px;
}

.Profile .timeline .left_row .bullet_point{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 60px;
    margin-right: -12px;
}

.Profile .timeline .right_row.first .bullet_point,
.Profile .timeline .left_row.first .bullet_point{
    margin-top: 100px;
}


.Profile hr.end_timeline{
    display: block;
    width: 2px;
    height: 40px;
    border: 0;
    background: #efeeee;
    left: 50%;
}






/*  Asspirations  */
.Asspirations{
    padding: 140px 0;
    overflow: hidden;
    background: #fafafa;
    text-align: center;
}

.Asspirations .Asspirations_wrapper{
    display: block;
    overflow: hidden;
    margin-top: 100px;
}

.Asspirations .Asspirations_wrapper article{
    width: 313px;
    float: left;
    margin-right: 80px;
    text-align: center;
}

.Asspirations .skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:70%;
	left: 15%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.Asspirations .skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.Asspirations .skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.Asspirations .skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.Asspirations .skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}


/**  contact  **/
.Contact{
    padding: 140px 0;
    overflow: hidden;
    text-align: center;
}

.Contact .title{
    font-size: 60px;
    margin-top: 40px;
}

.Contact hr{
    display: block;
    border: 0;
    width: 100px;
    height: 1px;
    background: #797979;
    margin: 60px auto; 
}
#links{
	padding: 0 40%;
	left: 40%;
}
#links a{
	margin: 10px;
    float: left;

}

